<br>
<br>

<h3>Редактировать</h3><br/>

<div class="form-group">
    <label for="title">Картинка <!-- малого --> контента </label>
    <img src="<?=$data['gallery']['img']?>"  width="940" height="450" class="img-responsive" alt="Responsive image">
</div>
<!--
<form action="" method="post" enctype="multipart/form-data" >
    <input type="hidden" name="id" value="<?=$data['gallery']['id']?>" >
    <input type="file" name="files"  >
    <input type="submit" name="img_min_upld" value="Загрузить картинку" class="btn btn-success" >
</form>
-->

<!--
<div class="form-group">
    <label for="title">Картинка основного контента </label>
    <img src="<?=$data['news']['img_content']?>" class="img-responsive" alt="Responsive image">
</div>

<form action="" method="post" enctype="multipart/form-data" >
    <input type="hidden" name="id" value="<?=$data['news']['id']?>" >
    <input type="file" name="files"  >
    <input type="submit" name="img_content_upld" value="Загрузить картинку" class="btn btn-success" >
</form>
-->
<br>
<br>

<form method="post" action="">
    <div class="form-group">
        <label for="title">Название</label>
        <input type="text" id="title" name="title" value="<?=htmlspecialchars(@$data['gallery']['title'])?>" class="form-control"  />
    </div>

    <!--
        <div class="form-group">
            <label for="content">Основное описание:</label>
            <textarea style="min-height: 300px;" id="content" name="content" class="form-control" ><?=htmlspecialchars(@$data['news']['content'])?></textarea>
        </div>
    -->



    <input type="submit" name="submit" class="btn btn-success" />

</form>


