<!--
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html lang="en">
-->
<head>

    <link rel="stylesheet" href="/css/nivo/themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/nivo/themes/light/light.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/nivo/themes/dark/dark.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/nivo/themes/bar/bar.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/nivo/nivo-slider.css" type="text/css" media="screen" />
   <!-- <link rel="stylesheet" href="/css/nivo/style.css" type="text/css" media="screen" /> -->
<!-- -->
</head>

<!-- Blank section -->
<div class="container-fluid blank-section">

</div>
<!-- Blank section end-->

<!-- header-in -->
<div class="container-fluid header-in news-header" >
    <h2><?php // echo $data['page']['title'];?>
    Наши работы
    </h2>
    <div class="calc-in">
        <div class="w970">
            <form class="form-inline">
                <h4 class="white text-left pull-left">Укажите размер:</h4>
                <!-- <h4 class="white text-left pull-right">Выберите тип:</h4> -->
                <br><br>
                <hr class="pull-left">
                <div class="clr"></div>
                <div class="form-group">
                    <label for="InputWidth">Ширина:</label>
                    <input type="text" class="form-control" id="InputWidth" placeholder="мм" >
                </div>
                <div class="form-group">
                    <label for="InputHeight" class="lb2">Высота:</label>
                    <input type="text" class="form-control" id="InputHeight" placeholder="мм" >
                </div>
                <!-- <button type="submit" class="btn btn-default">Просчитать!</button> -->
                <!-- Single button -->
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Выберите тип <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu sub-type">
                        <li><a href="/products/view_sub/1">- Жалюзи</a></li>
                        <li><a href="/products/view_sub/13">- Ролеты</a></li>
                        <li><a href="/products/view_sub/33">- Плиссе</a></li>
                        <li><a href="/products/view_sub/38">- Антимоскитные сетки</a></li>
                        <li><a href="/products/view_sub/42">- Внешние системы солнцезащиты</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- header-in end -->
     <?php  //echo $data['page']['content'];?>


<!-- Our-Work  -->
<div class="container-fluid our-work">
    <div class="w970">
        <div class="col-lg-12">
            <h2 class="page-header text-center">Работы, сделанные нашей компанией:</h2>
        </div>

<!-- -->

        <div id="wrapper">
            <!-- <a href="http://dev7studios.com" id="dev7link" title="Go to dev7studios">dev7studios</a>-->

            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider">
                  <?php foreach($data['gallery'] as $gallery) { ?>
                    <img src="<?=$gallery['img']?>" data-thumb="<?=$gallery['img']?>" alt="" />
                  <?php } ?>

                    <!-- <a href="http://dev7studios.com"><img src="/images/nivo/images/up.jpg" data-thumb="/images/nivo/images/up.jpg" alt=""
                         title="This is an example of a caption" /></a> -->
                    <!--  <img src="/images/nivo/images/walle.jpg" data-thumb="/images/nivo/images/walle.jpg" alt="" data-transition="slideInLeft" />
                      <img src="/images/nivo/images/nemo.jpg" data-thumb="/images/nivo/images/nemo.jpg" alt="" title="#htmlcaption" /> -->
                </div>
                <!-- <div id="htmlcaption" class="nivo-html-caption">
                     <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
                 </div> -->
            </div>

        </div>
        <script type="text/javascript" src="/js/nivo/scripts/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="/js/nivo/jquery.nivo.slider.js"></script>
        <script type="text/javascript">
            $(window).load(function() {
                $('#slider').nivoSlider();
            });
        </script>




         </div>
        <!-- -->

    </div>-->
 </div>
<!-- Our-Work end -->

















