<br>
<br>
<br>

<h3>Заявки с  сайта</h3><br/>
<table class="table table-bordered table-striped table-hover" style="width: 100%;">
    <tr>
        <td style="width: 2%;"> <strong>№</strong> </td>
        <td style="width: 10%;"> <strong>Имя</strong> </td>
        <td style="width: 10%;"> <strong>Телефон</strong> </td>
    </tr>
    <?php foreach($data as $item) { ?>
    <tr>
        <td><?=$item['id']?></td>
        <td><?=$item['name']?></td>
        <td><?=$item['phone']?></td>
    </tr>
    <?php } ?>
</table>