<!DOCTYPE html>
<html>
<head>
    <title><?=Config::get('site_name')?></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="/css/modal.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="//code.jquery.com/jquery-1.10.2.js"></script> -->
    <script src="/js/jquery-1.11.3.min.js"></script>
    <!-- <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
    <script src="/js/jquery-ui.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Galery -->
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/css/bootstrap-image-gallery.min.css">
    <!-- Bootstrap Gallery JavaScript -->
    <script src="/js/jquery.blueimp-gallery.min.js"></script>
    <script src="/js/bootstrap-image-gallery.min.js"></script>
    <!-- Galery end-->
    <!-- Map -->
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap,
                myPlacemark;
        function init(){
            myMap = new ymaps.Map("map", {
                center: [50.41867144, 30.51710987],
                zoom: 15
            });
            myPlacemark = new ymaps.Placemark([50.418293, 30.516187], {
                hintContent: 'Салон солнцезащитных систем «Salon-SS»',
                balloonContent: 'Салон солнцезащитных систем «Salon-SS». г.Киев, ул.Казимира Малевича 86-Д (на перекрестке улиц Боженко и Байковой, у Аптеки)'
            });
            myMap.geoObjects.add(myPlacemark);
            myMap.behaviors.disable('scrollZoom');
        }
    </script>
    <!-- Map end-->

    <script src="/js/jquery.maskedinput.js" type="text/javascript"></script>

    <script>
        jQuery(function($){
            $("#phone").mask("(999) 999-99-99");
        });
    </script>



</head>
<body>


<!-- Main Content -->
<?php if( Session::hasFlash() ){ ?>
    <div class="alert alert-info" role="alert">
        <?php Session::flash(); ?>
    </div>
<?php } ?>

<?=$data['content']?>
<!-- Main Content end-->



<!--Map -->
<div class="container-fluid map">
    <div id="map" style="width: 100%; height: 480px"></div>
</div>
<!--Map end-->

<!-- Footer -->
<div class="container-fluid footer">
    <div class="w970">
        <div class="main-form">
            <h4 class="text-center tt_up white">СДЕЛАТЬ МОМЕНТАЛЬНЫЙ ПРОСЧЕТ</h4>
            <hr>
            <!-- <form action="/products/view_subcategory/" method="POST"> -->
                <label for="width-inp">Ширина:</label>
                <input type="text" class="form-control" id="width-inp" placeholder="мм">
                <label for="height-inp" class="fl2">Высота:</label>
                <input type="text" class="form-control" id="height-inp" placeholder="мм">
                <a href="/products/view_subcategory/"><button type="submit" class="btn-mainf">ПРОСЧИТАТЬ!</button></a>
            <!-- </form> -->
        </div>
        <div class="map-title">
            г. Киев, ул. Боженко 86Д (Казимира Малевича) <br>
            на перекрестке улиц Боженко и Байковой, у Аптеки.<br><br>
            <label>Ближайшие станции метро:</label>
            <ul>
                <li>Дворец «Украина»......390 м</li>
                <li>Лыбедская..................810 м</li>
                <li>Демеевская................1,5 км</li>

            </ul>
        </div>
        <div class="addr-bl">
            <p class="addr11">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                <span class="title">Адрес: </span><br>
                03680, г. Киев, ул. Боженко 86Д (Казимира Малевича) <br>
                на перекрестке улиц Боженко и Байковой, у Аптеки

            </p>
            <p class="bottom-phone">
                <span class="glyphicon glyphicon glyphicon-earphone" aria-hidden="true"></span>
                <span class="title">Телефоны:</span><br>
                <span>+38(044) 371-40-17</span> <br>
                <span>+38(097) 433-00-87</span> <br>
                <span>+38(095) 720-92-52</span> <br>
            </p>
            <p class="f_left">
                <a href="#" class="contact">Связаться с нами</a>
            </p>
            <div class="f_left soc_bl">
                <p>
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    <span class="title">Мы в социальных сетях: </span><br>
                    <a href="#" target="_blank"><img class="vk" src="/images/vk.png"></a>
                    <a href="https://www.facebook.com/pages/Салон-Солнцезащитных-Систем/242845055781212?fref=nf" target="_blank"><img class="fb" src="/images/fb.png"></a>
                </p>
            </div>
        </div>
        <div class="bottom-menu">
            <ul class="bm-jal">
                <li class="title">Жалюзи:</li>
                <a href="/products/view_sub/2"><li>Горизонтальные жалюзи</li></a>
                <a href="/products/view_sub/6"><li>Вертикальные жалюзи</li></a>
                <a href="/products/view_sub/10"><li>Деревянные и бамбуковые жалюзи</li></a>
            </ul>
            <ul>
                <li class="title">Ролеты:</li>
                <a href="/products/view_sub/14"><li>Системы открытого типа</li></a>
                <a href="/products/view_sub/21"><li>Системы закрытого типа</li></a>
                <a href="/products/view_sub/26"><li>Системы день-ночь</li></a>
                <a href="/products/view_sub/Римський-карниз"><li>Римський карниз</li></a>
                <a href="/products/view/Бамбуковые-ролеты"><li>Бамбуковые ролеты</li></a>
            </ul>
            <ul>
                <li class="title">Плиссе:</li>
                <a href="/products/view/Плиссе-для-окон-сложной-формы"><li>Плиссе для окон неправильной (сложной) формы</li></a>
                <a href="/products/view/Плиссе-для-мансардных-окон"><li>Плиссе для мансардных (наклонных ) окон</li></a>
                <a href="/products/view/Плиссе-для-прямоугольных-окон"><li>Плиссе для прямоугольных окон</li></a>
            </ul>
            <ul>
                <li class="title title22">Антимоскитные сетки:</li>
                <a href="/products/view/Рамочные"><li class="t22">Рамочные</li></a>
                <a href="/products/view/Ролетные"><li>Ролетные</li></a>
                <a href="/products/view/На-петлях"><li>На петлях</li></a>
            </ul>
        </div>
        <div class="clr"></div>
    </div>
    <h5 class="text-center">Салон солнцезащитных систем © 2015 г. </h5>
</div>
<!-- Footer end-->

<!-- Modal-->
<!-- A modal with its content -->
<section class="_semantic-content" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="_modal-inner">

        <div class="_modal-content">
            <form action="/order/" method="POST">
                <h4 class="text-center tt_up white">БЫСТРЫЙ ЗАКАЗ</h4>
                <hr>
                <input type="text" class="form-control" id="name" name="name" placeholder="Имя" maxlength="20" required />
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Телефон" maxlength="10" required />
                <button type="submit" class="btn-mainf">Узнать стоимость!</button>
                <input type="hidden" id="idItem" name="title" value="0" />
                <!-- -->
            </form>


        </div>

    </div>
    <!-- Use Hash-Bang to maintain scroll position when closing modal -->
    <a href="#!" class="_modal-close" title="Закрыть окно" data-dismiss="modal">&times;</a>
</section>

<!-- Modal end -->

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-left prev bg-black white">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Предыдущая
                    </button>
                    <button type="button" class="btn btn-primary next bg-black">
                        Следующая
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>