<style type="text/css">

    .t-menu .logo {
        background: url("/images/logo2.png")no-repeat center;
        width: 200px;
        height: 65px;
        margin: 10px 0 0 0;
        float: left;
    }
    .t-menu .tm {
        padding-top: 5px;
        float: left;
    }
    .t-menu .tm li {
        display: inline-block;
        list-style-type: none;
        margin-left: 20px;
        margin-top: 30px;
    }
    .t-menu .tm li:first-child{
        margin-left: 0;
    }
    .t-menu .tm li a {
        color: #2c3341;
        font-size: 14px;
        font-weight: 400;
    }
    .main-nav {
        top:  0;
        left: 0;
        width: 100%;
        position: fixed;
        z-index: 9999;
        background-color: #fff !important;
    }
    .top-phone-bl .list-group-item{
        border: none;
    }
    .top1-nav {
        padding-top: 20px;
    }
    .top1-nav li a {
        font-size: 14px !important;
        color: #2c3341 !important;
    }
    .top1-nav li a:hover {
        text-decoration: underline;
    }
    .top1-nav li a:active {
        text-decoration: underline;
    }
    .top-phone-bl .top-btn {
        background-color: transparent !important;
        text-transform: uppercase !important;
        border: 2px solid #23d5d4;
        border-radius: 0 !important;
        color: #23d5d4;
    }
    .top-phone-bl {
        padding: 5px 0 0 0;
        float: right !important;
        width: 190px;
        border: 0 solid #000;
        margin: 0;

    }
    .top-phone-bl .row {
        margin: 0 !important;
        padding: 0 !important;
    }
    .top-phone {
        font-size: 16px;
        padding : 5px 0 5px 7px;
        border: 0px solid #ccc !important;
        margin-left: 15px;
        width: 160px;
    }
    .top-phone-bl .top-btn:hover {
        text-decoration: underline;
    }

</style>


<!--  Navbar  -->
<nav class="navbar navbar-default main-nav">
    <div class="container-fluid">
        <div class="w970">
            <div class="t-menu">
                <a href="/"><div class="logo"></div></a>
                <ul class="tm">
                    <li><a href="/news">Акции и новости</a></li>
                    <li><a href="/gallery">Наши работы</a></li>
                    <li><a href="/pages/view/О-компании">О компании</a></li>
                    <li><a href="/pages/view/Контакты">Контакты</a></li>
                </ul>
                <div class="row top-phone-bl">
                    <div class="col-xs-2">
                        <ul class="row list-group">
                            <li class="list-group-item top-phone">+38 (097) 433-00-87</li>
                            <li class="list-group-item"><a href="#modal" onclick="getElementById('idItem').value='ЗАКАЗАТЬ ЗВОНОК!';" class="call-modal"><button type="submit" class="btn top-btn">Заказать звонок!</button></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid top2-nav">
        <div class="w970">
            <ul class="nav nav-pills">
                <li role="presentation" class="dropdown">
                    <a class="top-cat-but" href="/products/view_sub/1">
                        Жалюзи <span class="caret"></span>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/products/view_sub/1" role="button" aria-haspopup="true" aria-expanded="false">
                            Жалюзи <span class="caret"></span>
                        </a>
                    </a>
                    <!-- -->
                    <ul class="dropdown-menu drop-big ">
                        <li><a href="/products/view_sub/2"><span class="blue">Горизонтальные</span></a></li>
                        <?php
                        foreach($menu as $item){
                        if( $item['parent_id'] == 2) {
                        ?><li><a href="/products/view/<?=$item['alias']?>"><?="- ".$item['title']?></a> <?php
                            }
                            }?>

                        <li><a href="/products/view_sub/6"><span class="blue">Вертикальные</span></a></li>
                        <?php
                        foreach($menu as $item){
                        if( $item['parent_id'] == 6) {
                        ?><li><a href="/products/view/<?=$item['alias']?>"><?="- ".$item['title']?></a> <?php
                            }
                            }?>

                        <li><a href="/products/view_sub/10"><span class="blue">Деревянные и бамбуковые</span></a></li>
                        <?php
                        foreach($menu as $item){
                        if( $item['parent_id'] == 10) {
                        ?><li><a href="/products/view/<?=$item['alias']?>"><?="- ".$item['title']?></a> <?php
                            }
                            }?>
                    </ul>
                    <!-- -->
                </li>
                <li role="presentation" class="dropdown ">
                    <a class="top-cat-but" href="/products/view_sub/13">
                        Ролеты <span class="caret"></span>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/products/view_sub/2" role="button" aria-haspopup="true" aria-expanded="false">
                            Ролеты <span class="caret"></span>
                        </a>
                    </a>
                    <!-- -->
                    <ul class="dropdown-menu drop-big2">
                        <li><a href="/products/view_sub/14"><span class="blue">Системы открытого типа</span></a></li>
                        <?php
                        foreach($menu as $item){
                        if( $item['parent_id'] == 14) {
                        ?><li><a href="/products/view/<?=$item['alias']?>"><?="- ".$item['title']?></a> <?php
                            }
                            }?>
                        <li><a href="/products/view_sub/21"><span class="blue">Системы закрытого типа</span></a></li>
                        <?php
                        foreach($menu as $item){
                        if( $item['parent_id'] == 21) {
                        ?><li><a href="/products/view/<?=$item['alias']?>"><?="- ".$item['title']?></a> <?php
                            }
                            }?>
                        <li><a href="/products/view_sub/26"><span class="blue">Системы день-ночь</span></a></li>
                        <?php
                        foreach($menu as $item){
                        if( $item['parent_id'] == 26) {
                        ?><li><a href="/products/view/<?=$item['alias']?>"><?="- ".$item['title']?></a> <?php
                            }
                            }?>
                            <!-- -->
                        <?php
                        foreach($menu as $item){
                        if( $item['parent_id'] == 31) {
                        ?><li><a href="/products/view/<?=$item['alias']?>"><?="<span class='blue'>".$item['title']?></span></a><?php
                            }
                            }?>
                            <!-- -->
                        <?php
                        foreach($menu as $item){
                        if( $item['parent_id'] == 32) {
                        ?><li><a href="/products/view/<?=$item['alias']?>"><?="<span class='blue'>".$item['title']?></span></a><?php
                            }
                            }?>
                            <!-- -->
                    </ul>
                    <!-- -->
                </li>
                <li role="presentation" class="dropdown">
                    <a class="top-cat-but" href="/products/view_sub/33">
                        Плиссе <span class="caret"></span>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/products/view_sub/3" role="button" aria-haspopup="true" aria-expanded="false">
                            Плиссе <span class="caret"></span>
                        </a>
                    </a>
                    <ul class="dropdown-menu">
                        <?php
                        foreach($menu as $item){
                        if( $item['parent_id'] == 33) {
                        ?><li><a href="/products/view/<?=$item['alias']?>"><?="- ".$item['title']?></a> <?php
                            }
                            }?>
                            <!--  -->
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="top-cat-but" href="/products/view_sub/38">
                        Антимоскитные сетки <span class="caret"></span>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/products/view_sub/4" role="button" aria-haspopup="true" aria-expanded="false">
                            Антимоскитные сетки <span class="caret"></span>
                        </a>
                    </a>
                    <ul class="dropdown-menu drop-big3">
                        <?php
                        foreach($menu as $item){
                        if( $item['parent_id'] == 38) {
                        ?><li><a href="/products/view/<?=$item['alias']?>"><?="- ".$item['title']?></a> <?php
                            }
                            }?>
                            <!--  -->
                    </ul>
                </li>
                <!-- Outsytem -->
                <li role="presentation" class="dropdown out-syst">
                    <a class="top-cat-but" href="/products/view_sub/42">
                        Внешние системы солнцезащиты <span class="caret"></span>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Внешние системы солнцезащиты <span class="caret"></span>
                        </a>
                    </a>
                    <ul class="dropdown-menu drop-big4">
                        <li><a href="/products/view_sub/49">- Маркизы</a></li>
                        <?php
                        foreach($menu as $item){
                        if( $item['parent_id'] == 50 OR $item['parent_id'] == 51 OR $item['parent_id'] == 52
                        OR $item['parent_id'] == 53 OR $item['parent_id'] == 54){
                        ?><li><a href="/products/view/<?=$item['alias']?>"><?="- ".$item['title']?></a><?php
                            }
                            }?>
                            <!--  -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar end  -->