<br>
<br>
<br>

<h3>Редактировать категорию: <?=htmlspecialchars(@$data['cat']['title'])?></h3><br/>
<form method="post" action="">
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="tab" href="#data1">Общие </a></li>
        <li><a data-toggle="tab" href="#data2">Изображение</a></li>
    </ul>
    <br><br>
    <div class="tab-content">
        <!-- Общие -->
        <div class="tab-pane fade in active" id="data1"><!-- data1 -->
            <div class="form-group">
                <label for="title">Название категории</label>
                <input type="text" id="title" name="title" value="<?=htmlspecialchars(@$data['cat']['title'])?>" class="form-control"  />
            </div>
            <div class="form-group">
                <label for="price_from">Цена от</label>
                <input maxlength="30" type="text" id="price_from" name="price_from" value="<?=htmlspecialchars(@$data['cat']['price_from'])?>" class="form-control"  />
            </div>

        </div>
        <!-- -->

        <div class="tab-pane fade in" id="data2"><!-- data2 -->
            <div class="form-group">
                <!-- Большое изображение категории /products/view_subcategory/ -->
                <label for="img_child">Большое изображение категории:</label>
                <textarea style="min-height: 300px;" id="img_parent" name="img_parent" class="form-control" >
                    <img src="<?=$data['cat']['img_parent']?>" />
                </textarea>
                <br>
                <!-- Малое изображение дочерней категории /products/view_sub/ -->
                <label for="img_child">Малое изображение категории:</label>
                <textarea style="min-height: 300px;" id="img_child" name="img_child" class="form-control" >
                    <img src="<?=$data['cat']['img_child']?>" />
                </textarea>
                <!--  -->
            </div>
        </div>
    </div>


    <input type="hidden" name="id" value="<?=$data['cat']['id']?>" />
    <input type="submit" class="btn btn-success" value="Сохранить" />
    <a href="/admin/cat/"><input type="button" class="btn btn-primary" value="Отмена"></a>
    <br>
    <br>


</form>

<script>
    CKEDITOR.replace( 'img_parent' );
    CKEDITOR.replace( 'img_child' );
</script>