

<div style="padding-top:20px; padding-bottom:20px;">


    <a href="/news/add">ДОБАВИТЬ НОВУЮ НОВОСТЬ</a>
    <br>
    Все существующие новости:
    <form action="" method="post">

        <?php foreach($data['news'] as $news ) { ?>

        <div>
            <div><input type="checkbox" name="ids[]" value="<?php echo $news['id']; ?>"> <a href="/news/edit?id=<?php echo $news['id']; ?>">ОТРЕДАКТИРОВАТЬ</a> <a href="/admin/news/index/delete/<?php echo $news['id']; ?>">УДАЛИТЬ</a> <b><?php echo $news['title']; ?></b> <span style="color:#777777; font-size:10px;"><?php echo $news['date']; ?></span></div>
        </div>
        <hr>

        <?php } ?>


        <input type="submit" name="delete" value="Удалить отмеченные записи">
    </form>
</div>

//