<br>
<br>
<br>
<br>
<br>
<br>

<table class="table table-bordered table-striped" style="width: 80%; border: 1px solid #ccc;">
    <tr>
        <td>ID</td>
        <td>Название</td>
        <td style="padding-left: 15px;">Управление</td>


    </tr>
    <?php foreach($data['news'] as $news) { ?>
    <tr>
        <td><strong><?=$news['id']?></strong></td>
        <td><strong><?=$news['title']?></strong></td>
        <td width="250" align="center">
            <a href="/admin/news/edit/<?=$news['id']?>"><button class="btn btn-sm btn-primary" style="padding: 5px 20px;">Редактировать</button></a>
            <a href="/admin/news/index/delete/<?=$news['id']?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning" style="padding: 5px 20px;">Удалить</button></a>
        </td>

    </tr>
    <?php } ?>
</table>

<br/>

<div>
    <a href="/admin/news/add/"><button class="btn btn-sm btn-success">Добавить новую новость</button></a>
</div>