<br>
<br>
<br>
<script src="/ckeditor/ckeditor.js"></script>


<h3>Редактировать товар</h3><br/>
<form method="post" action="">
    <input type="hidden" name="id" value="<?=$data['products']['id']?>" />
    <div class="form-group">
        <label for="alias">Alias</label>
        <input type="text" id="alias" name="alias" value="<?=htmlspecialchars(@$data['products']['alias'])?>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="title">Заголовок</label>
        <input type="text" id="title" name="title" value="<?=htmlspecialchars(@$data['products']['title'])?>" class="form-control"  />
    </div>
    <div class="form-group">
        <label for="price_from">Цена от</label>
        <input maxlength="30" type="text" id="price_from" name="price_from" value="<?=htmlspecialchars(@$data['products']['price_from'])?>" class="form-control"  />
    </div>
    <div class="form-group">
        <label for="content_short">Краткое описание:</label>
         <textarea style="min-height: 150px;" id="content_short" name="content_short" class="form-control" ><?=htmlspecialchars($data['products']['content_short'])?></textarea>
    </div>

    <div class="form-group">
        <label for="content">Основное описание:</label>
        <textarea style="min-height: 300px;" id="content" name="content" class="form-control" ><?=htmlspecialchars($data['products']['content'])?></textarea>
    </div>

    <div class="form-group">
        <label for="gallery_img">Картинки слайдера:</label>
        <textarea style="min-height: 500px;" id="gallery_img" name="gallery_img" class="form-control" ><?=$data['products']['gallery_img']?></textarea>
    </div>

    <div class="form-group">
        <label for="params">Характеристики:</label>
        <textarea style="min-height: 300px;" id="params" name="params" class="form-control" ><?=$data['products']['params']?></textarea>
    </div>

    <div class="form-group">
        <label for="colors">Доступные цвета:</label>
        <textarea style="min-height: 300px;" id="colors" name="colors" class="form-control" ><?=$data['products']['colors']?></textarea>
    </div>

    <div class="form-group">
        <label for="type_id">Варианты систем:</label>
        <textarea style="min-height: 300px;" id="type_id" name="type_id" class="form-control" ><?=$data['products']['type_id']?></textarea>
    </div>

    <input type="submit" class="btn btn-success" value="Сохранить">

    <script>
        CKEDITOR.replace( 'content_short' );
        CKEDITOR.replace( 'gallery_img' );
        CKEDITOR.replace( 'params' );
        CKEDITOR.replace( 'colors' );
        CKEDITOR.replace( 'type_id' );

    </script>

</form>


